<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "{{ site.company.url }}#organization",
      "name": {{ site.company.name | jsonify }},
      "url": {{ site.company.url | jsonify }},
      "sameAs": {{ site.company.same_as | jsonify }}
    },
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": {{ site.url}/},
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | jsonify }},
      "publisher": {
        "@id": "{{ site.company.url }}#organization"
      }
    }
  ]
}
</script>

<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
