---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>  
  {% include head.html %}
   <link rel="icon" type="image/svg+xml" href="https://tellusant.github.io/docs/assets/favicon.svg">
</head>
  <body>
   
    {% include header.html %} <!-- uses your local override -->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- comment -%} <!-- commented out footer -->
{% include footer.html %}
{%- endcomment -%}
  </body>
</html>
